body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100wh;
  height: 90vh;
  color: var(--text);
  background-color: var(--background-ligher);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main:#8B008B;
  --compl-darker: #46008B;
  --background: #141414;
  --background-ligher: #2B2B2B;
  --nav-bar: #333;
  --text-alt: #A1A1A1;
  --text: white;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#header li {
  float: left;
}

#header .links{
  float: right;
  margin-top: 10px;
}

#header li a {
  border-radius: 10px;
  display: block;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
#header li a:hover {
  background-color: #111;
}

.active{
  border-radius: 10px;
  background-color: var(--compl-darker);
}

.container{
  color: var(--text);
  max-width: 90%; 
  margin-right:auto;
  margin-left:auto;
  margin-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.homeName{
  color: var(--main);
  margin-left: 10px;
}

.imageSocial{
  width: auto;
  height: 50px;
}

.social{
  position: absolute;
  right: 10px;
  bottom: 0;
}

#social ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#social li {
  float: right;
}