.imageSocial{
    width: auto;
    height: 35px;
    margin-right: 10px;
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--background-color-alt);
    width: 100%;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    left: 0;
}

.text{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin: 8px;
    font-size: 14px;
}

.content{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}