.LinkList {
    list-style-type: none;
    margin: 0;
    padding-left: 1%;
    padding-top: .5%;
    gap: 1%;
}

.LinkList a {
    text-decoration: none;
    color: var(--text-color);
}

.LinkList li {
    padding: 5px;
}

.Header {
    width: 150px;
}

@media (max-width: 768px) {
    .LinkList {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-left: 0;
        padding-top: 0;
        flex-direction: row;
    }

    .LinkList li {
        padding: 0; 
    }

    .Header {
        width: auto; 
    }
}