:root {
  --background-color: #3A405A;
  --background-color-alt: #252f3f;
  --text-color: #C3C3E6;
  --text-color-alt: #BAACBD;
  --text-color-link: #91a7d6;
}

body {
  background-color: var(--background-color);
  margin: 0;
  color: var(--text-color);
}

.App {
  gap: 3%;
  margin: 1%;
}

.glow {
  font-size: 15px;
  color: var(--text-color);
  text-shadow: 0 0 10px var(--text-color), 0 0 0px #00f, 0 0 30px var(--background-color-alt);
  transition: text-shadow 0.3s ease-in-out;
}

.section {
    width: 80%;
    margin: 0 auto;
    margin-top: 6%;
    text-align: center;
}

.section h4 {
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: 1px;
}

.tags {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    background-color: var(--background-color);
    color: var(--text-color-alt);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: default;
    transition: background-color 0.3s ease;
}

.tag:hover {
    background-color: #5c7fba;
}

@media (max-width: 768px) {
    .App {
        flex-direction: column;
        gap: 0;
    }

    .experience-card {
        max-width: 100%;
        padding: 20px;
    }

    .experience-title {
        font-size: 1.3rem;
    }

    .experience-description {
        font-size: 0.95rem;
    }

    .section {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .App {
        flex-direction: column;
        gap: 0;
    }
    
    .experience-title {
        font-size: 1.1rem;
    }

    .experience-description {
        font-size: 0.85rem;
    }

    .section {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}